@{
    this.ViewBag.Title = "Index";
    this.Layout = "~/Views/_BootstrapLayout.cshtml";
}
<h2>
    Index</h2>
<div id="content">
    <div class="box">
        <img alt="Agra picture" src="~/Content/images/masonry/Agra-1.JPG">
    </div>
    <div class="box">
        <img alt="Agra picture" src="~/Content/images/masonry/Agra-2.JPG">
    </div>
    <div class="box">
        <img alt="Agra picture" src="~/Content/images/masonry/Agra-3.JPG">
    </div>
    <div class="box">
        <img alt="Agra picture" src="~/Content/images/masonry/Agra-4.JPG">
    </div>
    <div class="box">
        <img alt="Agra picture" src="~/Content/images/masonry/Agra-5.JPG">
    </div>
    <div class="box">
        <img alt="Agra picture" src="~/Content/images/masonry/Agra-6.JPG">
    </div>
    <div class="box">
        <img alt="Agra picture" src="~/Content/images/masonry/Agra-7.JPG">
    </div>
    <div class="box">
        <img alt="Agra picture" src="~/Content/images/masonry/Agra-8.JPG">
    </div>
    <div class="box">
        <img alt="Agra picture" src="~/Content/images/masonry/Agra-9.JPG">
    </div>
    <div class="box">
        <img alt="Agra picture" src="~/Content/images/masonry/Agra-10.JPG">
    </div>
    <div class="box">
        <img alt="Agra picture" src="~/Content/images/masonry/Agra-11.JPG">
    </div>
    <div class="box">
        <img alt="Agra picture" src="~/Content/images/masonry/Agra-12.JPG">
    </div>
    <div class="box">
        <img alt="Agra picture" src="~/Content/images/masonry/Agra-13.JPG">
    </div>
    <div class="box">
        <img alt="Agra picture" src="~/Content/images/masonry/Agra-14.JPG">
    </div>
    <div class="box">
        <img alt="Agra picture" src="~/Content/images/masonry/Agra-15.JPG">
    </div>
    <div class="box">
        <img alt="Agra picture" src="~/Content/images/masonry/Agra-16.JPG">
    </div>
    <div class="box">
        <img alt="Agra picture" src="~/Content/images/masonry/Agra-17.JPG">
    </div>
    <div class="box">
        <img alt="Agra picture" src="~/Content/images/masonry/Agra-18.JPG">
    </div>
</div>
