@{
    this.ViewBag.Title = "Index";
    this.Layout = "~/Views/_BootstrapLayout.cshtml";
}
<h2>
    Index</h2>
@*<div id="content">
    <div class="box">
        <img alt="Agra picture" src="~/Content/images/masonry/Agra-1.JPG">
    </div>
    <div class="box">
        <img alt="Agra picture" src="~/Content/images/masonry/Agra-2.JPG">
    </div>
    <div class="box">
        <img alt="Agra picture" src="~/Content/images/masonry/Agra-3.JPG">
    </div>
    <div class="box">
        <img alt="Agra picture" src="~/Content/images/masonry/Agra-4.JPG">
    </div>
    <div class="box">
        <img alt="Agra picture" src="~/Content/images/masonry/Agra-5.JPG">
    </div>
    <div class="box">
        <img alt="Agra picture" src="~/Content/images/masonry/Agra-6.JPG">
    </div>
    <div class="box">
        <img alt="Agra picture" src="~/Content/images/masonry/Agra-7.JPG">
    </div>
    <div class="box">
        <img alt="Agra picture" src="~/Content/images/masonry/Agra-8.JPG">
    </div>
    <div class="box">
        <img alt="Agra picture" src="~/Content/images/masonry/Agra-9.JPG">
    </div>
    <div class="box">
        <img alt="Agra picture" src="~/Content/images/masonry/Agra-10.JPG">
    </div>
    <div class="box">
        <img alt="Agra picture" src="~/Content/images/masonry/Agra-11.JPG">
    </div>
    <div class="box">
        <img alt="Agra picture" src="~/Content/images/masonry/Agra-12.JPG">
    </div>
    <div class="box">
        <img alt="Agra picture" src="~/Content/images/masonry/Agra-13.JPG">
    </div>
    <div class="box">
        <img alt="Agra picture" src="~/Content/images/masonry/Agra-14.JPG">
    </div>
    <div class="box">
        <img alt="Agra picture" src="~/Content/images/masonry/Agra-15.JPG">
    </div>
    <div class="box">
        <img alt="Agra picture" src="~/Content/images/masonry/Agra-16.JPG">
    </div>
    <div class="box">
        <img alt="Agra picture" src="~/Content/images/masonry/Agra-17.JPG">
    </div>
    <div class="box">
        <img alt="Agra picture" src="~/Content/images/masonry/Agra-18.JPG">
    </div>
    </div>
    *@

 <div class="container">
         <div class="box">
             <div class="article">
                <img alt="Jaipure picture" class="thumbnail" src="~/Content/images/masonry/Jaipur-1.JPG">
                  <h4>Jaipur picture 01</h4>
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce
        dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
        fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
        mollis euismod. Donec sed odio dui. <a class="" href="#">Read more »</a></p>
             </div>
         </div>
         <div class="box">
             <div class="article">
                <img alt="Jaipure picture" class="thumbnail" src="~/Content/images/masonry/Jaipur-2.JPG">
                  <h4>Jaipur picture 02</h4>
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce
        dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
        fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
        mollis euismod. Donec sed odio dui. <a class="" href="#">Read more »</a></p>
             </div>
         </div>
         <div class="box">
             <div class="article">
                <img alt="Jaipure picture" class="thumbnail" src="~/Content/images/masonry/Jaipur-3.JPG">
                  <h4>Jaipur picture 03</h4>
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce
        dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
        fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
        mollis euismod. Donec sed odio dui. <a class="" href="#">Read more »</a></p>
             </div>
         </div>
         <div class="box">
             <div class="article">
                <img alt="Jaipure picture" class="thumbnail" src="~/Content/images/masonry/Jaipur-4.JPG">
                  <h4>Jaipur picture 04</h4>
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce
        dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
        fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
        mollis euismod. Donec sed odio dui. <a class="" href="#">Read more »</a></p>
             </div>
         </div>
         <div class="box">
             <div class="article">
                <img alt="Jaipure picture" class="thumbnail" src="~/Content/images/masonry/Jaipur-5.JPG">
                  <h4>Jaipur picture 05</h4>
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce
        dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
        fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
        mollis euismod. Donec sed odio dui. <a class="" href="#">Read more »</a></p>
             </div>
         </div>
         <div class="box">
             <div class="article">
                <img alt="Jaipure picture" class="thumbnail" src="~/Content/images/masonry/Jaipur-6.JPG">
                  <h4>Jaipur picture 06</h4>
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce
        dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
        fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
        mollis euismod. Donec sed odio dui. <a class="" href="#">Read more »</a></p>
             </div>
         </div>
      </div> <!-- /container -->

